# Backup
*.bak

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

code/Wiz2SQL/.vs/
code/Wiz2SQL/ipch/
code/Wiz2SQL/Debug/
code/Wiz2SQL/Release/
code/Wiz2SQL/*.opensdf
